.filter_con {
  width: 100%;
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 8px;
  background: #fff;
  font-family: sans-serif;
  max-width: 100%;
  *{
    box-sizing: border-box;
  }
}
.each_filter {
  margin-bottom: 0px;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}
.filter_header label {
  font-size: 16px !important;
  line-height: 24px;
  font-weight: 700 !important;
  font-family: Open Sans;
}
.filter_header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  padding: 4px 0;
}
.toggle-icon {
  font-size: 26px;
  transition: transform 0.2s ease;
}
.clapse_able_part {
  max-height: 0;
  overflow: auto;
  transition: max-height 0.35s ease,
  padding 0.2s ease;
  padding-top: 0px;
}
.clapse_able_part.open {
  max-height: 300px;
  padding-top: 0px;
}
label {
  font-size: 14px;
  display: block;
  margin: 3px 0;
}
.button {
  background: rgb(255, 134, 25);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  border: solid rgb(255, 134, 25) 1px;
  transition: 0.3s;
  &.reset-filters{
    background: transparent;
    color: rgb(255, 134, 25);
  }
}
.button:hover {
  background: rgb(255, 134, 25);
  color: #fff;
}

.clapse_able_part label {
  font-size: 16px;
  font-weight: 400;
  color: rgb(51, 51, 51);
  font-family: Open Sans;
  padding-bottom: 13px;
  margin: 0px;
  cursor: pointer;
}

.clapse_able_part .apply-price {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #eee;
  background-color: #fff;
  color: #333;
  transition-duration: 0.3s;
  width: 100%;
}

.clapse_able_part .apply-price:hover {
  background-color: #ff8619;
  border: 1px solid #ff8619;
  color: #ffffff;
}
.clapse_able_part #min_price {
  border: 1px solid #eee;
}

.clapse_able_part #min_price {
  width: 47% !important;
}
.clapse_able_part #max_price {
  width: 47% !important;
}

.filter_con .each_filter:has(.clapse_able_part label span:nth-child(2)) {
  .clapse_able_part label {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.clapse_able_part label span:last-child {
    opacity: 0.5;
    padding: 1px;
    font-size: 13px;
    margin-right: 10px;
  }
}

.wc-filter-loop{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.search_filter{
  &[show_status="false"]{
    display: none;
  }
  input{
      border: 1px solid #666;
      border-radius: 3px;
      padding: .5rem 1rem;
      transition: all .3s;
      width: 100%;
  }
}

.wc-filter-loop {
    > *,
    > * > *{
        height: 100% !important;
        min-height: 100% !important;
    }
}



@media (max-width: 1024px) {
  .wc-filter-loop{
    grid-template-columns: repeat(2, 1fr);
  }
  .filter_header label {
    font-size: 14px !important;
    line-height: 21px;
  }
  .clapse_able_part.open {
    max-height: 250px;
    padding-top: 0px;
  }
}

@media (max-width: 767px){
  .wc-filter-loop{
    grid-template-columns: repeat(1, 1fr);
  }
}

.wc-filter-loop-grid{
  /* Pagination */
  position: relative;

  .wc-filter-pagination{
    *{
      font-family: "Open Sans", Sans-serif;
    }
    margin-top: 20px;
    background-color: #E6E8EA;
    padding: 20px 30px;
    display: flex !important;
    align-items: center;
    justify-content: space-between !important;
    border-radius: 8px;
    .current_item_status{
      font-size: 14px;
      font-weight: 400;
    }
    .main_pagination{
      background-color: #FFFFFF !important;
      padding: 8px;
      border-radius: 8px;
      color: #0D132E;
      text-align: center;
      font-family: "Open Sans", Sans-serif;
      font-size: 14px;
      font-weight: 700;
      line-height: 19px;
      display: flex;
      gap: 8px;
      a{
        font-weight: 400;
        text-decoration: none;
        color: rgb(13, 19, 46);
      }
    }
  }

  /* Loading Animation */
  &::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 2;
    background-image: url(https://cdn.prod.website-files.com/65af5b66d9cf4364ab3d980d/65af5b66d9cf4364ab3d9a75_Loading_icon.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: min(350px, 100%);
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
  }
  &[load-status="true"]::before{
    opacity: 0.8;
    pointer-events: all;
  }
}